<!DOCTYPE html>
<html>
	<head>
	  <title>Studytracker</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="sidebar">
			<ul>
				<li><%= link_to 'Home', root_path, :class => "button" %></li>
				<li><%= link_to 'Create Study', new_study_path, :class => "button" %></li>
				<li><%= link_to 'Register Site', new_site_path, :class => "button" %></li>
			</ul>
		</div>
		<div class="content">
			<%= yield %>
		</div>
	</body>
</html>
